<!DOCTYPE html>
<html>

<head>

    <!-- @input("site/content/COMMON/html-head.content") -->
    <style>
        .div-404 {
            display: flex;
            flex-flow: row wrap;
            align-content: center;
            justify-content: center;
            padding: 0 0 55px 0;
            border-bottom: 1px solid #dce4e6;
            text-align: center;
        }
                    
        
        .number-404 {
            width: 100%;
            text-align: center;
            background: #fff;
          position: relative;
          font: 900 30vmin "Consolas ";
          letter-spacing: 5vmin;
          text-shadow: 2px -1px 0 #000, 4px -2px 0 #0a0a0a, 6px -3px 0 #0f0f0f, 8px -4px 0 #141414, 10px -5px 0 #1a1a1a, 12px -6px 0 #1f1f1f, 14px -7px 0 #242424, 16px -8px 0 #292929;
        }
        .number-404::before {
          background-color: #673ab7;
          background-image: radial-gradient(closest-side at 50% 50%, #ffc107 100%, rgba(0, 0, 0, 0)), radial-gradient(closest-side at 50% 50%, #e91e63 100%, rgba(0, 0, 0, 0));
          background-repeat: repeat-x;
          background-size: 40vmin 40vmin;
          background-position: -100vmin 20vmin, 100vmin -25vmin;
          width: 100%;
          height: 100%;
          mix-blend-mode: screen;
          -webkit-animation: moving 10s linear infinite both;
                  animation: moving 10s linear infinite both;
          display: block;
          position: absolute;
          content: " ";
        }
        @-webkit-keyframes moving {
          to {
            background-position: 100vmin 20vmin, -100vmin -25vmin;
          }
        }
        @keyframes moving {
          to {
            background-position: 100vmin 20vmin, -100vmin -25vmin;
          }
        }
        
        .text-404 {
          font: 400 5vmin "Courgette ";
        }
        .text-404 span {
          font-size: 10vmin;
        }
        </style>
</head>

<body lang="en ">
    <!-- Header & Responsive Menu -->
    @input("site/content/COMMON/nav-menu/nav-menu.content")

    @content

    <!-- Footer -->
    @input("site/content/COMMON/footer/footer.content")

</body>

</html>