contentDir 'site/content/Pages/'
contentExt '.content'
outputDir 'app/Base/Views/default/'
outputExt '.php'
scriptExt '.f'
defaultTemplate 'site/template/index.template'

backupScripts 1

lolcatDefault 0

lolcatCmd 'nift lolcat-cc -f'

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal 'normal'

unixTextEditor 'vim'
winTextEditor 'notepad'

rootBranch '##unset##'
outputBranch '##unset##'
